# Игнорировать все файлы в директории .venv
.venv/

# Игнорировать файлы IDE PyCharm/IntelliJ
.idea/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать логи и результаты тестов
*.log
*.sqlite

# Игнорировать временные файлы
*.tmp
*.swp
*~